---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
---

<ViewTransitions />
<div class="nav-links" transition:animate="slide">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags">Tags</a>
</div>
